<div class="mt-4">
    <div class="row">
        {{#each posts}}
        <div class="card card-post-item">
            <div class="card-body">
                <a href="/posts/{{this.slug}}">
                    <h5 class="card-title">{{this.title}}</h5>
                </a>
                <p class="card-text">{{this.content}}</p>
                <a href="/posts/{{this.slug}}" class="btn btn-primary">View Blog</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>